.section-about {
  padding: 8%;
  background-color: white;
}
.section-about_text {
  margin: 20px 0px;
  font-family: "gill-sans-nova", sans-serif;
  color: #292929;
  font-size: 15px;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 300;
  width: 60%;
}

.section-project1, .section-project3, .section-project5, .section-project7 {
  padding: 8%;
}
.section-project1_container, .section-project3_container, .section-project5_container, .section-project7_container {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.section-project1_container-left, .section-project3_container-left, .section-project5_container-left, .section-project7_container-left {
  flex: 3;
  width: 50%;
  height: auto;
}
.section-project1_container-left-photo, .section-project3_container-left-photo, .section-project5_container-left-photo, .section-project7_container-left-photo {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.section-project1_container-right, .section-project3_container-right, .section-project5_container-right, .section-project7_container-right {
  flex: 2;
  display: flex;
  flex-flow: column;
  margin-left: 80px;
}
.section-project1_container-right-title, .section-project3_container-right-title, .section-project5_container-right-title, .section-project7_container-right-title {
  font-family: "Instrument Sans", sans-serif;
  color: "Instrument Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 300;
}
.section-project1_container-right-text, .section-project3_container-right-text, .section-project5_container-right-text, .section-project7_container-right-text {
  margin: 25px 0px;
  font-family: "gill-sans-nova", sans-serif;
  color: #292929;
  font-size: 15px;
  letter-spacing: 0.1px;
  line-height: 22px;
  font-weight: 300;
}
.section-project1_container-right-button-text, .section-project3_container-right-button-text, .section-project5_container-right-button-text, .section-project7_container-right-button-text {
  text-decoration: none;
  font-family: "gill-sans-nova", sans-serif;
  color: #292929;
  font-size: 14.5px;
  font-weight: 400;
  letter-spacing: 1px;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  width: max-content;
}
.section-project1_container-right-button, .section-project1_container-right-button:visited, .section-project3_container-right-button, .section-project3_container-right-button:visited, .section-project5_container-right-button, .section-project5_container-right-button:visited, .section-project7_container-right-button, .section-project7_container-right-button:visited {
  text-decoration: none;
  color: #292929;
}
.section-project1_container-right-button-text:hover, .section-project3_container-right-button-text:hover, .section-project5_container-right-button-text:hover, .section-project7_container-right-button-text:hover {
  font-weight: 600;
}

.section-project2, .section-project4, .section-project6, .section-project8 {
  padding: 8%;
}
.section-project2_container, .section-project4_container, .section-project6_container, .section-project8_container {
  display: flex;
  flex-flow: row;
  align-items: center;
  flex-direction: row-reverse;
}
.section-project2_container-left, .section-project4_container-left, .section-project6_container-left, .section-project8_container-left {
  flex: 3;
  width: 50%;
  height: auto;
}
.section-project2_container-left-photo, .section-project4_container-left-photo, .section-project6_container-left-photo, .section-project8_container-left-photo {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.section-project2_container-right, .section-project4_container-right, .section-project6_container-right, .section-project8_container-right {
  flex: 2;
  display: flex;
  flex-flow: column;
  margin-right: 80px;
}
.section-project2_container-right-title, .section-project4_container-right-title, .section-project6_container-right-title, .section-project8_container-right-title {
  font-family: "Instrument Sans", sans-serif;
  color: "Instrument Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 100;
}
.section-project2_container-right-text, .section-project4_container-right-text, .section-project6_container-right-text, .section-project8_container-right-text {
  margin: 25px 0px;
  font-family: "gill-sans-nova", sans-serif;
  color: #292929;
  font-size: 15px;
  letter-spacing: 0.1px;
  line-height: 22px;
  font-weight: 300;
}
.section-project2_container-right-button-text, .section-project4_container-right-button-text, .section-project6_container-right-button-text, .section-project8_container-right-button-text {
  text-decoration: none;
  font-family: "gill-sans-nova", sans-serif;
  color: #292929;
  font-size: 14.5px;
  letter-spacing: 1px;
  font-weight: 400;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  width: max-content;
}
.section-project2_container-right-button-text:hover, .section-project4_container-right-button-text:hover, .section-project6_container-right-button-text:hover, .section-project8_container-right-button-text:hover {
  font-weight: 500;
}
.section-project2_container-right-button, .section-project2_container-right-button:visited, .section-project4_container-right-button, .section-project4_container-right-button:visited, .section-project6_container-right-button, .section-project6_container-right-button:visited, .section-project8_container-right-button, .section-project8_container-right-button:visited {
  text-decoration: none;
  color: #292929;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7f7;
}

.section-hero {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  min-height: -webkit-fill-available;
  padding: 8% 8% 80px 8%;
  background-image: url("");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.section-hero_menubutton {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;
}
.section-hero_menubutton-bar1, .section-hero_menubutton-bar2, .section-hero_menubutton-bar3 {
  width: 35px;
  height: 4px;
  background-color: white;
  margin: 0px 0px 7px 0px;
  transition: 0.4s;
}
.change .section-hero_menubutton-bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.change .section-hero_menubutton-bar2 {
  opacity: 0;
}
.change .section-hero_menubutton-bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
.section-hero_name {
  font-family: "Saira Semi Condensed", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 7px;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.section-footer {
  padding: 0% 8% 8% 8%;
  width: 100%;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
}
.section-footer_border {
  height: 0.5px;
  width: 100%;
  background-color: black;
  margin-bottom: 8%;
}
.section-footer_contact {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
}
.section-footer_contact-leftalign {
  display: flex;
}
.section-footer_contact-left {
  margin-right: 50px;
}
.section-footer_contact-left-label, .section-footer_contact-right-label {
  margin-bottom: 16px;
  font-family: "gill-sans-nova", sans-serif;
  color: #292929;
  font-size: 15px;
  letter-spacing: 0.1px;
  font-weight: 500;
  letter-spacing: 1px;
}
.section-footer_contact-left-name, .section-footer_contact-left-email, .section-footer_contact-right-location {
  margin: 5px 0px;
  font-family: "gill-sans-nova", sans-serif;
  letter-spacing: 0.1px;
  color: #292929;
  font-size: 15px;
}
.section-footer_contact-socials {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.section-footer_contact-socials-ig, .section-footer_contact-socials-fb, .section-footer_contact-socials-li {
  background: #000000;
  color: white;
  padding: 7px;
  font-size: 14px;
  width: 14px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  transition: 0.3s;
}
.section-footer_contact-socials-ig, .section-footer_contact-socials-fb, .section-footer_contact-socials-li:hover {
  opacity: inherit;
}

.section-about {
  padding: 8%;
  background-color: white;
}
.section-about_title {
  font-family: "Instrument Sans", sans-serif;
  color: "Instrument Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 300;
}
.section-about_text {
  margin: 20px 0px;
  font-family: "gill-sans-nova", sans-serif;
  color: "gill-sans-nova", sans-serif;
  font-size: 15px;
  letter-spacing: 0.1px;
  line-height: 22px;
  width: 60%;
}

.section-image1, .section-image3 {
  padding: 8%;
}
.section-image1_container-photo, .section-image3_container-photo {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.section-text1, .section-text2, .section-text3 {
  padding: 8%;
  background-color: white;
}
.section-text1_text, .section-text2_text, .section-text3_text {
  margin: 20px 0px;
  font-family: "gill-sans-nova", sans-serif;
  color: #292929;
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.1px;
  width: 60%;
}

.section-image2 {
  padding: 8%;
}
.section-image2_container {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.section-image2_container-photo1 {
  width: 45%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.section-image2_container-photo2 {
  width: 45%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.section-credits {
  display: flex;
  flex-flow: column;
  width: 400px;
  padding: 0% 8% 8% 8%;
}
.section-credits_header {
  font-family: "gill-sans-nova", sans-serif;
  color: #292929;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  width: 100%;
  margin-bottom: 8%;
}
.section-credits_info {
  display: flex;
  flex-flow: row;
}
.section-credits_info-left {
  width: 50%;
  display: flex;
  flex-flow: column;
}
.section-credits_info-left-heading {
  font-family: "gill-sans-nova", sans-serif;
  color: grey;
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  width: 100%;
}
.section-credits_info-left-text {
  margin: 4px 0px;
  font-family: "gill-sans-nova", sans-serif;
  color: #292929;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.1px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .section-project1_container-right, .section-project3_container-right, .section-project5_container-right, .section-project7_container-right {
    margin-left: 60px;
  }
  .section-project1_container-right-title, .section-project3_container-right-title, .section-project5_container-right-title, .section-project7_container-right-title {
    font-size: 20px;
  }
  .section-project1_container-right-text, .section-project3_container-right-text, .section-project5_container-right-text, .section-project7_container-right-text {
    font-size: 14.5px;
    line-height: 21px;
  }

  .section-project2_container-right, .section-project4_container-right, .section-project6_container-right, .section-project8_container-right {
    margin-right: 60px;
  }
  .section-project2_container-right-title, .section-project4_container-right-title, .section-project6_container-right-title, .section-project8_container-right-title {
    font-size: 20px;
  }
  .section-project2_container-right-text, .section-project4_container-right-text, .section-project6_container-right-text, .section-project8_container-right-text {
    font-size: 14.5px;
    line-height: 21px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section-project1_container-right, .section-project3_container-right, .section-project5_container-right, .section-project7_container-right {
    margin-left: 60px;
  }
  .section-project1_container-right-title, .section-project3_container-right-title, .section-project5_container-right-title, .section-project7_container-right-title {
    font-size: 18px;
  }
  .section-project1_container-right-text, .section-project3_container-right-text, .section-project5_container-right-text, .section-project7_container-right-text {
    font-size: 14px;
    line-height: 21px;
  }

  .section-project2_container-right, .section-project4_container-right, .section-project6_container-right, .section-project8_container-right {
    margin-right: 60px;
  }
  .section-project2_container-right-title, .section-project4_container-right-title, .section-project6_container-right-title, .section-project8_container-right-title {
    font-size: 18px;
  }
  .section-project2_container-right-text, .section-project4_container-right-text, .section-project6_container-right-text, .section-project8_container-right-text {
    font-size: 14px;
    line-height: 21px;
  }

  .section-text1_text, .section-text2_text, .section-text3_text, .section-text4_text {
    width: 100%;
    line-height: 23px;
  }
}
@media screen and (min-width: 520px) and (max-width: 768px) {
  .section-about_text {
    width: 100%;
  }

  .section-project1_container, .section-project3_container, .section-project5_container, .section-project7_container {
    flex-flow: column;
  }
  .section-project1_container-left, .section-project3_container-left, .section-project5_container-left, .section-project7_container-left {
    width: 100%;
    height: auto;
  }
  .section-project1_container-right, .section-project3_container-right, .section-project5_container-right, .section-project7_container-right {
    display: flex;
    flex-flow: column;
    margin-top: 60px;
    margin-left: 0px;
  }
  .section-project1_container-right-title, .section-project3_container-right-title, .section-project5_container-right-title, .section-project7_container-right-title {
    font-size: 20px;
  }
  .section-project1_container-right-text, .section-project3_container-right-text, .section-project5_container-right-text, .section-project7_container-right-text {
    font-size: 15px;
    line-height: 23px;
    margin: 30px 0px;
  }

  .section-project2_container, .section-project4_container, .section-project6_container, .section-project8_container {
    flex-flow: column;
  }
  .section-project2_container-left, .section-project4_container-left, .section-project6_container-left, .section-project8_container-left {
    width: 100%;
    height: auto;
  }
  .section-project2_container-right, .section-project4_container-right, .section-project6_container-right, .section-project8_container-right {
    display: flex;
    flex-flow: column;
    margin-top: 60px;
    margin-right: 0px;
  }
  .section-project2_container-right-title, .section-project4_container-right-title, .section-project6_container-right-title, .section-project8_container-right-title {
    font-size: 18px;
  }
  .section-project2_container-right-text, .section-project4_container-right-text, .section-project6_container-right-text, .section-project8_container-right-text {
    font-size: 15px;
    line-height: 23px;
    margin: 30px 0px;
  }

  .section-text1_text, .section-text2_text, .section-text3_text, .section-text4_text {
    width: 100%;
    font-size: 15px;
    line-height: 23px;
  }

  .section-footer_contact-left {
    margin-right: 40px;
  }
  .section-footer_contact-left-label, .section-footer_contact-right-label {
    font-size: 14px;
  }
  .section-footer_contact-left-name, .section-footer_contact-left-email, .section-footer_contact-right-location {
    font-size: 14px;
  }
  .section-footer_contact-socials {
    width: 90px;
  }
  .section-footer_contact-socials-ig, .section-footer_contact-socials-fb, .section-footer_contact-socials-li {
    padding: 6px;
    font-size: 14px;
    width: 14px;
  }
}
@media screen and (max-width: 520px) {
  .section-hero {
    padding: 8% 8% 14% 8%;
  }
  .section-hero_name {
    font-size: 1.7rem;
    letter-spacing: 6px;
    text-align: right;
    line-height: 2.4rem;
  }

  .section-about_text {
    width: 100%;
  }

  .section-project1_container, .section-project3_container, .section-project5_container, .section-project7_container {
    flex-flow: column;
  }
  .section-project1_container-left, .section-project3_container-left, .section-project5_container-left, .section-project7_container-left {
    width: 100%;
    height: auto;
  }
  .section-project1_container-right, .section-project3_container-right, .section-project5_container-right, .section-project7_container-right {
    display: flex;
    flex-flow: column;
    margin-top: 40px;
    margin-left: 0px;
  }
  .section-project1_container-right-title, .section-project3_container-right-title, .section-project5_container-right-title, .section-project7_container-right-title {
    font-size: 18px;
  }
  .section-project1_container-right-text, .section-project3_container-right-text, .section-project5_container-right-text, .section-project7_container-right-text {
    font-size: 14px;
    line-height: 22px;
    margin: 30px 0px;
  }

  .section-project2_container, .section-project4_container, .section-project6_container, .section-project8_container {
    flex-flow: column;
  }
  .section-project2_container-left, .section-project4_container-left, .section-project6_container-left, .section-project8_container-left {
    width: 100%;
    height: auto;
  }
  .section-project2_container-right, .section-project4_container-right, .section-project6_container-right, .section-project8_container-right {
    display: flex;
    flex-flow: column;
    margin-top: 40px;
    margin-right: 0px;
  }
  .section-project2_container-right-title, .section-project4_container-right-title, .section-project6_container-right-title, .section-project8_container-right-title {
    font-size: 18px;
  }
  .section-project2_container-right-text, .section-project4_container-right-text, .section-project6_container-right-text, .section-project8_container-right-text {
    font-size: 14px;
    line-height: 22px;
    margin: 30px 0px;
  }

  .section-text1_text, .section-text2_text, .section-text3_text, .section-text4_text {
    width: 100%;
    font-size: 14px;
    line-height: 22px;
  }

  .section-image2_container {
    flex-flow: column;
  }
  .section-image2_container-photo1 {
    width: 100%;
    margin-bottom: 8%;
  }
  .section-image2_container-photo2 {
    width: 100%;
  }

  .section-footer {
    padding: 0% 8% 12% 8%;
  }
  .section-footer_contact {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .section-footer_border {
    margin-bottom: 12%;
  }
  .section-footer_contact-leftalign {
    display: flex;
    flex-flow: column;
  }
  .section-footer_contact-left {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .section-footer_contact-left-label, .section-footer_contact-right-label {
    font-size: 12px;
  }
  .section-footer_contact-left-name, .section-footer_contact-left-email, .section-footer_contact-right-location {
    font-size: 14px;
  }
  .section-footer_contact-socials {
    width: 90px;
    margin-top: 20px;
  }
  .section-footer_contact-socials-ig, .section-footer_contact-socials-fb, .section-footer_contact-socials-li {
    padding: 6px;
    font-size: 14px;
    width: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
