* {
    margin: 0;
    padding: 0;
}
    
body {
    background-color: $bkgd-color;
}


.section-footer {
    padding: 0% 8% 8% 8%;
    width: 100%;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;

    &_border {
        height: 0.5px;
        width: 100%;
        background-color: black;
        margin-bottom: 8%;
    }

    &_contact {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    &_contact-leftalign {
        display: flex;
    }

    &_contact-left {
        margin-right: 50px;
    }

    &_contact-left-label, &_contact-right-label {
        margin-bottom: 15px;
        font-family: $text-font;
        color: $text-color;
        font-size: $text-size;
        font-weight: 500;
        letter-spacing: 1px;
    }

    &_contact-left-name, &_contact-left-email, &_contact-right-location {
        margin: 5px 0px;
        font-family: $text-font;
        color: $text-color;
        font-size: $text-size;
    }

    &_contact-socials {
        display: flex;
        justify-content: space-between;
        width: 100px;
    }

    &_contact-socials-ig, &_contact-socials-fb, &_contact-socials-li  {
        background: #000000;
        color: white;
        padding: 7px;
        font-size: 14px;
        width: 14px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        transition: 0.3s;
    }

    &_contact-socials-ig, &_contact-socials-fb, &_contact-socials-li:hover {
        opacity: inherit;
    }

}