.section-hero {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    min-height: -webkit-fill-available;
    padding: 8% 8% 80px 8%;
    background-image: url("");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    &_name {
        font-family: $logo-font;
        color: white;
        font-weight: 500;
        font-size: 1.4rem;
        letter-spacing: 7px;
    }
}

.section-about {
    padding: $padding;
    background-color: $section-bkgd-color;

    &_title {
        font-family: $text-font;
        color: $text-color;
        font-size: 18px;
        line-height: 20px;
        font-weight: 100;
    }

    &_text {
        margin: 20px 0px;
        font-family: "roboto", sans-serif;
        color: #292929;
        font-size: 11.5px;
        line-height: 20px;
        font-weight: 300;
        letter-spacing: 0.1px;
        width: 60%;
    }
}

.section-project1, .section-project3, .section-project5, .section-project7 {
    padding: $padding;

    &_container {
        display: flex;
        flex-flow: row;
        align-items: center;
    }

    &_container-left {
        flex: 3;
        width: 50%;
        height: auto;
    }

    &_container-left-photo {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }

    &_container-right {        
        flex: 2;
        display: flex;
        flex-flow: column;
        margin-left: 80px;
    }

    &_container-right-title {
        font-family: $text-font;
        color: $text-color;
        font-size: 18px;
        line-height: 20px;
        font-weight: 100;
    }

    &_container-right-text {
        margin: 20px 0px;
        font-family: "roboto", sans-serif;
        color: #292929;
        font-size: 11.5px;
        line-height: 20px;
        font-weight: 300;
        letter-spacing: 0.1px;
    }

    &_container-right-button-text {
        text-decoration: none;
        font-family: $text-font;
        color: $text-color;
        font-size: $text-size;
        font-weight: 200;
        letter-spacing: 1px;
        transition: 0.2s ease-in;
        cursor: pointer;
        width: max-content;
    }

    &_container-right-button, &_container-right-button:visited{
        text-decoration: none;
        color: black;
    }

    &_container-right-button-text:hover {
        font-weight: 700;
    }
}

.section-project2, .section-project4, .section-project6, .section-project8 {
    padding: $padding;

    &_container {
        display: flex;
        flex-flow: row;
        align-items: center;
        flex-direction: row-reverse;
    }

    &_container-left {
        flex: 3;
        width: 50%;
        height: auto;
    }

    &_container-left-photo {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }

    &_container-right {
        flex: 2;
        display: flex;
        flex-flow: column;
        margin-right: 80px;
    }

    &_container-right-title {
        font-family: $text-font;
        color: $text-color;
        font-size: 18px;
        line-height: 20px;
        font-weight: 100;
    }

    &_container-right-text {
        margin: 20px 0px;
        font-family: "roboto", sans-serif;
        color: #292929;
        font-size: 11.5px;
        line-height: 20px;
        font-weight: 300;
        letter-spacing: 0.1px;
    }

    &_container-right-button-text {
        text-decoration: none;
        font-family: $text-font;
        color: $text-color;
        font-size: $text-size;
        font-weight: 200;
        letter-spacing: 1px;
        transition: 0.2s ease-in;
        cursor: pointer;
        width: max-content;
    }

    &_container-right-button-text:hover {
        font-weight: 700;
    }

    &_container-right-button, &_container-right-button:visited{
        text-decoration: none;
        color: black;
    }

    &_container-right-button-text:hover {
        font-weight: 700;
    }
}